# Development dependencies
ipython>=6.0
appnope==0.1.0
decorator==4.4.2
gnureadline==8.0.0
path.py==12.4.0
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.6.0
simplegeneric==0.8.1
traitlets==4.3.3
# Django
django>=2.2,<3.1

# Testing dependencies
tox==3.14.5
pluggy==0.13.1
py==1.8.1
virtualenv==20.0.9
pytest==5.3.5

# Mock dependencies
pbr==5.4.4
